<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         backupGlobals="false">
    <testsuites>
        <testsuite name="WP MCP AI Plugin Test Suite">
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">addons/pro/tests</directory>
            <directory suffix=".php">addons/saas-controller/tests</directory>
            <exclude>tests/manual-test-preset-preview.php</exclude>
            <exclude>tests/manual-verify-auto-aspect-ratio.php</exclude>
            <exclude>tests/manual</exclude>
            <exclude>tests/bootstrap.php</exclude>
            <exclude>tests/wp-tests-config.php</exclude>
            <exclude>tests/helpers</exclude>
            <exclude>addons/saas-controller/tests/bootstrap.php</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>external-http</group>
        </exclude>
    </groups>
</phpunit>
